body {
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.intialState {
  display: grid;
  place-items: center;
}

.dimension-buttons-wrapper {
  padding: 10px;
  margin-top: 20px;
}

.dimension-button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 80px;
}

.selected {
  background-color: #1c961c;
}

.gameWrapper {
  display: grid;
  place-items: center;
}

.gameWrapper #startbtn {
  padding: 10px 20px;
  background: green;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gameWrapperInner .gameCanvas {
  display: grid;
  place-items: center;
}

.alertBox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertBox > div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  padding-right: 30px;
}

.alertBox .closebtn {
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  right: 16px;
  top: 2px;
  cursor: pointer;
}

.alertBox .lose-alert {
  background: #d72d2d;
}

.alertBox .win-alert {
  background: #1e90ff;
}

.alertBox .alertMsg h3 {
  display: inline-block;
  margin-right: 10px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.gameWrapperInner {
  display: none;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-wrapper button {
  padding: 8px 15px;
  margin: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submitBtn:disabled {
  background: #7b7b7b;
  cursor: not-allowed;
}
